ul,li{
  list-style-type: none;
}

ul{
  display: flex;
  justify-content: center;
}
li{
  margin: 2% 0;
  overflow: hidden;
}

.header-div {
  position: fixed;
  background-color: transparent;
  border: 0px solid white;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  opacity: 0.7;
  z-index: 1999;
  width: 100%;
}

.header-about,
.header-experience,
.header-project,
.home,
.header-contact {
  font-size: 15px;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  font-family: "Courier New", Courier, monospace;
}

.header-about:hover {
  color: #e5383b;
}

.home:hover {
  color: #e5383b;
}

.header-experience:hover {
  color: #ef476f;
}

.header-project:hover {
  color: #ef476f;
}

.header-contact:hover {
  color: #ef476f;
}

@media only screen and (max-width: 950px) {
  .header-div {
    padding: 32px;
  }

  .header-about,
  .header-experience,
  .header-project,
  .home,
  .header-contact {
    font-size: 16px;
  }
}

@media only screen and (max-width: 750px) {
  .header-div {
    padding: 28px;
  }

  .header-about,
  .header-experience,
  .header-project,
  .header-contact {
    font-size: 16px;
  }
}

@media only screen and (max-width: 650px) {
  .header-div {
    padding: 20px;
    background: transparent!important;
  }

  .header-about,
  .header-experience,
  .header-project,
  .header-contact {
    font-size: 13px;
  }
  .landing-container{
    margin-top: 4rem;
  }

  .navbar-toggler{
    display: flex;
    border: none;
    outline: none;
  }
  .navbar-toggler:focus{
    border: none;
    outline: none;
    box-shadow:none;
  }
}

@media only screen and (max-width: 350px) {
  .header-div {
    padding: 10px;
  }

  .header-about,
  .header-experience,
  .header-project,
  .header-contact {
    font-size: 10px;
  }
}