/* Experience */

.experienceme {
  background-color: white;
  padding-left: 10%;
  padding-top: 2%;
  height: auto;
}

.serial-2 {
  padding-top: 20px;
  color: #ff7d00;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.experience {
  font-size: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
  word-spacing: 5px;
  line-height: 40px;
  margin-bottom: 30px;
}

.coursdate {
  background-color: black;
  color: white;
  width: fit-content;
  padding: 5px;
  font-size: 20px;
}

.expe-para {
  font-family: "Courier New", Courier, monospace;
  line-height: 28px;
  width: 100%;
  word-spacing: 1px;
  padding-bottom: 20px;
}

.experienceimg {
  border-radius: 10px;
  float: right;
  width: 100%;
  height: auto;
}

.carousel-mainbox{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
  overflow: hidden;
  /* animation: experienceCarousel 2s linear infinite; */
}

.carousel-mainbox:hover{
  /* animation-play-state: paused; */
}

@keyframes experienceCarousel {
  from {left: 0px;}
  to {left: -10%;}
}

.experienceimg{
  border: 0.1rem solid #000;
}

#experience__page{
  padding-left: 10%;
}

.element {
  /* Initial state */
  opacity: 0;
  visibility: hidden;
  display: none;
  transition: opacity 0.4s ease, visibility 0s 0.3s;
}

.element.show {
  /* Visible state */
  opacity: 1;
  visibility: visible;
  display: block;
  transition: opacity 0.5s ease, visibility 0s;
}

.expe-para .readmore{
  background:rgb(255, 125, 0);
  color:#f0f0f0;
  font-weight:bold;
  padding: 3px;
  border-radius: 0.2rem;
}

.experience-right{
  padding-top: 12%;
}

@media screen and (max-width: 991px) {
  .experience-right {
    padding-top: 0;
  }
  
  
}