/* contact me */

.contactme {
  /* border: 1px solid black; */
  padding-left: 10%;
  padding-top: 3%;
  /* background-color: #e9ecef; */
  background: #fff;
  height: auto;
  opacity: 0.8;
  /* background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%); */
  /* background: radial-gradient(black, transparent); */
}

.serial-4 {
  color: #ff7d00;
  font-size: 30px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.contact {
  font-size: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
  word-spacing: 5px;
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.contactinfo {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  box-sizing: border-box;
}

.contacts-details {
  width: 15%;
  margin-left: -100px;
  box-sizing: border-box;
}

.form {
  width: 60%;
  padding: 20px;
  box-sizing: border-box;
}

input {
  padding: 15px;
  border-style: none;
  margin: 5px;
  width: 94%;
}

textarea {
  width: 94%;
  height: 100px;
  margin-left: 5px;
  margin-top: 6px;
  border-style: none;
  padding: 15px;
}

textarea,
input {
  border: 1px solid lightgray;
}

button {
  background-color: #ff7d00;
  border-style: none;
  font-size: 20px;
  width: 99%;
  margin: 5px;
  color: white;
  text-align: center;
  padding: 12px;
  cursor: pointer;
  box-sizing: border-box;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #4ea8de;
  box-shadow: 0px 0px 8px #4ea8de;
}

/* social network icon */
i {
  font-size: 30px;
  margin-right: 12px;
}

a {
  color: #212529;
}

.same-icon-color {
  /* color: #ff7d00; */
  color: #3a86ff;
}

.same-pintrest-color {
  color: #941b0c;
}

.same-whatsapp-color {
  color: #0ead69;
}

.same-slack-color {
  color: #ee4266;
}

i:hover {
  transform: scale(1.02);
}

.social-net-icon {
  margin: 10px 0px 10px;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.email-id {
  margin: 10px 0px 10px;
  font-size: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.email-head {
  margin: 10px 0px 10px;
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

@media only screen and (max-width: 650px) {
  .contactme {
    height: auto;
    background-color: #e9ecef;
    height: auto;
    opacity: 0.8;
  }

  .contactinfo {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
  }

  .contacts-details {
    width: 100%;
    box-sizing: border-box;
    margin-left: 0;
  }

  .form {
    width: 100%;
    box-sizing: border-box;
    margin-left: -50px;
  }

  input {
    padding: 15px;
    border-style: none;
    width: 100%;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
  }

  button {
    background-color: #ff7d00;
    border-style: none;
    font-size: 15px;
    width: 100%;
    color: white;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
  }
}